version: '3.8'
services:
  mariadb:
    build: ./requirements/mariadb
    container_name: mariadb
    restart: always
    env_file: .env
    environment:
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD_FILE=${MYSQL_PASSWORD_FILE}
      - MYSQL_ROOT_PASSWORD_FILE=${MYSQL_ROOT_PASSWORD_FILE}
    volumes:
      - /home/hamrachi/data/mysql:/var/lib/mysql
    networks:
      - inception_net
    secrets:
      - db_root_password
      - db_password

  wordpress:
    build: ./requirements/wordpress
    container_name: wordpress
    restart: always
    env_file: .env
    environment:
      - WORDPRESS_DB_NAME=${MYSQL_DATABASE}
      - WORDPRESS_DB_USER=${MYSQL_USER}
      - WORDPRESS_DB_PASSWORD_FILE=${MYSQL_PASSWORD_FILE}
      - WORDPRESS_DB_HOST=mariadb:3306
      - WORDPRESS_ADMIN_USER=${WP_ADMIN_USER}
      - WORDPRESS_ADMIN_EMAIL=${WP_ADMIN_EMAIL}
    volumes:
      - /home/hamrachi/data/wordpress:/var/www/html
    networks:
      - inception_net
    depends_on:
      - mariadb
    secrets:
      - db_password

  nginx:
    build: ./requirements/nginx
    container_name: nginx
    restart: always
    ports:
      - "443:443"
    volumes:
      - /home/hamrachi/data/wordpress:/var/www/html:ro
      - ./requirements/nginx/conf:/etc/nginx/conf.d:ro
      - ./certs:/etc/nginx/certs:ro
    networks:
      - inception_net
    depends_on:
      - wordpress

networks:
  inception_net:
    driver: bridge

secrets:
  db_root_password:
    file: ../secrets/db_root_password
  db_password:
    file: ../secrets/db_password
  
